<h1>Todo</h1>
<div class="container">
  <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values</div>
  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
      <label>Desc</label>
      <input [(ngModel)]="todo.desc" class="form-control" type="text" name="desc" required="required" minlength="3">
    </fieldset>
    <fieldset class="form-group">
      <label>Target date</label>
      <input
        [ngModel]="todo.targetDate | date: 'yyyy-MM-dd'"
        class="form-control" type="date" name="targetDate" required="required">
    </fieldset>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
