<h1>Welcome!</h1>
<div class="container">
  Welcome {{name}}
  <div>
    You can manage yours todo <a routerLink="/todos">here</a>
  </div>
</div>
<div class="container" *ngIf="messageFromRest">
  <h2>Customized message</h2>
  {{messageFromRest}}
</div>
