<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
      <li><a routerLink="/" class="nav-link">Home</a></li>
      <li><a *ngIf="this.auth.isUserLogged()" routerLink="/todos" class="nav-link">Todo</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a *ngIf="!this.auth.isUserLogged()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="this.auth.isUserLogged()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>

  </nav>
</header>
